# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDE specific
.idea/
.vscode/
*.iml

# iOS specific
ios/Pods/
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*sync/
.sconsign.dblite
.tags*
.vagrant/
DerivedData/
Icon?
**/Pods/
**/.symlinks/
profile
timeline

# Android specific
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# macOS specific
.DS_Store